@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .htmlScreen {
    margin-right: auto;
    margin-left: auto;
  }

  .htmlScreen img {
    position: absolute;
    border-radius: 73px;
    min-width: 622px;
    min-height: 1348px;
  }
}
