@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .html-section {
    pointer-events: none;
    color: white;
    z-index: 9999;
    min-width: 100%;
    min-height: fit-content;
  }
  .border-container {
    width: 40vw;
  }

  @media (max-width: 1178px) {
    .border-container {
      padding: 1rem 1rem;
      width: 85vw;
      height: 40vh;
    }
  }

  @media (max-width: 640px) {
    .border-container {
      padding: 1rem 1rem;
      width: 90vw;
      height: 50vh;
    }
  }

  .button {
    z-index: 9999;
    pointer-events: auto;
  }

  .iphoneScreen {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
  }

  .iphoneScreen img {
    position: absolute;
    border-radius: 73px;
    min-width: 622px;
    min-height: 1348px;
    z-index: -9999;
  }
}
