@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .html-section {
    pointer-events: none;
    color: white;
    z-index: 9999;
  }
  .border-container {
    /* border: 1px solid white; */
    width: 40vw;
  }

  @media (max-width: 1178px) {
    .border-container {
      padding: 1rem 1rem;
      width: 85vw;
      height: 40vh;
    }
  }

  @media (max-width: 600px) {
    .border-container {
      padding: 1rem 1rem;
      width: 90vw;
      height: 40vh;
      transform: translateX(10px);
    }
  }

  .button {
    z-index: 9999;
    pointer-events: auto;
  }

  .iphoneScreen {
    position: relative;
    margin-right: auto;
    margin-left: auto;
  }

  .iphoneScreen img {
    position: absolute;
    border-radius: 73px;
    min-width: 622px;
    min-height: 1348px;
    z-index: -9999;
  }

  @keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }

    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideOut {
    from {
      opacity: 1;
      transform: translateX(0%);
    }
    to {
      opacity: 0;
      transform: translateX(100%);
    }
  }

  .card {
    height: fit-content;
    opacity: 0;
    transition: all 0.5s;
    animation: slideIn 0.5s ease-in-out 0.05s forwards;
  }

  .cardHidden {
    opacity: 1;
    transition: all 0.5s;
    animation: slideOut 0.5s ease-in-out 0.05s forwards;
  }
}
